<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <link href="./css/styles.css" rel="stylesheet" >
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
         const token = document
         .querySelector("meta[name='csrf-token']")
         .getAttribute("content")
          const updateTodo = (id) => {
          const bool = document
          .querySelector(`#checkbox-${id}`).checked
          console.log(bool);
          fetch(`/todos/${id}`, {
            method: "PUT",
            headers: {
            "Content-Type": "application/json",
            },
            body : JSON.stringify({
            _csrf : token,
            completed : bool
            })
          })
          .then((res) => {
            if (res.ok) {
              window.location.reload();
            }
          })
          .catch(err);{
          console.log(err);
          }
        };
        function deleteTodo(id){
            fetch(`./todos/${id}`, {
                method: "delete",
                headers: { "content-Type": "application/json" },
                body: JSON.stringify({
                    "_csrf": token
                })
            })
             .then((res) => {
                if (res.ok){
                    window.location.reload();
                }
             })
             .catch((err) => console.error(err));
        }
    </script>
    <title>Todo list Items</title> 
</head>
<body>
    <div class="grid grid-cols-6">
        <div class="col-start-3 col-span-3">
            <%- include('header.ejs') %>
            <form action="/todos" method="post">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                <div class="flex">
                    <div class="flex-col py-3 px-10">
                        <input type="text" name="title" placeholder="what's new next?" class="border border-red-300 rounded text-red-900 p-2 text-sm" required />
                    </div>
                </div>
                <div class="flex">
                    <div class="flex-auto py-3 px-10">
                        <input type="date" name="dueDate" class="border border-red-300 rounded text-red-900 p-2 text-sm"/>
                    </div>
                </div>
                <div class="flex">
                    <div class="flex-auto py-3 px-6 px-10 mx-10">
                        <button type="submit" class="border border-red-300 rounded text-red-900 p-2 text-sm bg-red-600 text-white">Add</button>
                    </div>
                </div>
            </form>
            <div>
                <%- include('todos.ejs', {title:"overdue", data: overdue}) %>
                <%- include('todos.ejs', {title:"Due Today", data: dueToday}) %>
                <%- include('todos.ejs', {title:"Due Later", data: dueLater}) %>
                <%- include('todos.ejs', {title: "Completed Items", data: completedItems}) %>
            </div>
        </div>
    </div>
    <br>

    <%- include('footer.ejs') %>
</body>
</html>