<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta name="csrf-token" content="<%= csrfToken %>">
        <link href="./css/styles.css" rel="stylesheet">
        <title>Todo Manager</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <link href="./css/styles.css" rel="stylesheet">
        <script>
          const token = document.querySelector("meta[name='csrf-token']").getAttribute("content")
          const updateTodo = (id) => {
          const bool = document.querySelector(`#checkbox-${id}`).checked
          console.log(bool);
          fetch(`/todos/${id}`, {
            method: "PUT",
            headers: {
            "Content-Type": "application/json",
            },
            body : JSON.stringify({
            _csrf : token,
            completed : bool
            })
          })
          .then((res) => {
            if (res.ok) {
              window.location.reload();
            }
          })
          .catch(err);{
          console.log(err);
          }
        };
        function deleteTodo(id) {
        fetch(`/todos/${id}`,{
          method: "delete",
          headers: {"Content-Type":"application/json"},
          body: JSON.stringify({
            "_csrf":token
          })
        })
         .then((res) => {
          if (res.ok) {
            window.location.reload();
          }
         })
         .catch((err) => console.erroe(err));
      }
        </script>
    </head>
    <body>
       <div class= "grid  grid-cols-6">
        <div class="col-start-3 col-span-2">
        <%- include("header.ejs") %>
        <div class="flex items-center w-fit ml-2 py-1 px-2 my-1 todoItem bg-rounded hover:bg-purple-100 rounded pg-brown-300 italic">
          <a href="/signout">
            signout
            <a href="/signout" class="trash-icon ml-2">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15m3 0l3-3m0 0l-3-3m3 3H9" />
              </svg>
            </a>          
          </a>
        </div>
        <% if(messages && messages.error && messages.error.length > 0)  { %>
          <% for(var i=0; i<messages.error.length; i++) { %>
                <p class="border border-red-400 bg-red-200 text-red-600 w-full p-2 rounded"><%= messages.error[i] %></p>
          <% } %>
        <% } %>
        <form action="/todos" method="post">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div class="flex gap-2 py-4">
                <div class="flex-auto">
                    <input type="text" name="title" placeholder="what's next" class="border border-red-300 rounded text-gray-900 w-full p-2 text-sm"/>
                </div>
            <div class="flex-auto">
                <input type="date" name="dueDate" class="border border-red-300 rounded text-gray-900 w-full p-2 text-sm leading-4 " required/>
            </div>
            <div class="flex-none">
                <button type="submit" class="bg-red-600 text-white px-5 py-1.5 rounded font-medium mr-2 mb-2">Add</button>
            </div>  
            </div>
        </form>
        <%- include('todos.ejs', {title: "Overdue", data: overdue}) %>
        <%- include('todos.ejs', {title: "Due Today", data: dueToday}) %>
        <%- include('todos.ejs', {title: "Due Later", data: dueLater}) %>
        <%- include('todos.ejs', {title: "Completed Items", data: completedItems}) %>
    </div>
</div>
    <%- include("footer.ejs") %>
    </body>
</html>